<header id="header">
    <div class="inner">

        <!-- Logo -->
        <a href="~/Home/Index" class="logo">
            <span class="symbol"><img src="~/img/logo.svg" alt="" /></span><span class="title">Phantom</span>
        </a>

        <!-- Nav -->
        <nav>
            <ul>
                <li><a href="#menu">Menu</a></li>
            </ul>
        </nav>

    </div>
</header>