<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookShop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-xxl">
        <div class="row m-4 p-1">
            <h2>Список книг</h2>
            <form name="bookForm">
                <input type="hidden" name="bookID" value="0" />
                <div class="form-group row mb-3">
                    <label for="bookName">Название:</label>
                    <div class="col-sm-5">
                        <input class="form-control" name="bookName" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="author">Автор:</label>
                    <div class="col-sm-5">
                        <input class="form-control" name="author" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="img">Путь к превью:</label>
                    <div class="col-sm-5">
                        <input class="form-control" name="img" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="price">Стоимость:</label>
                    <div class="col-sm-5">
                        <input class="form-control" name="price" type="number" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label for="categoryID">ID категории:</label>
                    <div class="col-sm-5">
                        <input class="form-control" name="categoryID" type="number" />
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="panel-body">
                        <button type="submit" id="submit" class="btn btn-primary">Сохранить</button>
                        <button type="reset" id="reset" class="btn btn-primary">Сбросить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container-xxl">
        <div class="row m-4 p-1">
            <table class="table table-condensed table-striped col-md-8">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Название</td>
                        <td>Автор</td>
                        <td>Путь к превью</td>
                        <td>Стоимость</td>
                        <td>ID категории</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
</body>
</html>
