<nav id="menu">
    <h2>Menu</h2>
    <ul>
        <li><a href="~/Home/Index">Главная страница</a></li>
        <li><a href="~/Category/Index">Категории</a></li>
        <li><a href="~/ShopCart/Index">Корзина</a></li>
        <li><a href="~/SPA/Index">Корзина</a></li>
    </ul>
</nav>