<div>
    Phantom - 1 из крупнейших магазинов велосипедов в стране.
    У нас большой выбор товаров, так что вы всегда найдёте то, что вам по душе.
    Нажмите <a href="~/Category/Index">здесь</a> чтобы перейти к категориям товаров.
</div>